{% extends "base.html" %}
{% block content %}
<h1>Our Services</h1>
<table>
    <tr>
        <th>Service</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Service 1</td>
        <td>Personal Training</td>
        <td>One-on-one sessions with certified trainers tailored to individual fitness goals.</td>
    </tr>
    <tr>
        <td>Service 2</td>
        <td>Swimming Pools</td>
        <td>For laps, aquatic fitness classes, or recreational swimming.</td>
    </tr>
</table>
{% endblock %}
